@page
@model CreateModel
@{
}

<div>
    <h2>Add Connection Item</h2>
    <div>
        <form method="post">
            <input asp-for="Connection.ConnectionName" type="text" placeholder="Connection Name" />
            <span asp-validation-for="Connection.ConnectionName"></span>
            <input asp-for="Connection.ConnectionDescription" type="text" placeholder="Connection Description" />
            <span asp-validation-for="Connection.ConnectionDescription"></span>
            <input asp-for="Connection.StarRating" type="text" placeholder="Star Rating" />
            <span asp-validation-for="Connection.StarRating"></span>
            <input type="submit" vlaue="Add Connection"/>
            <a asp-page="Index">Back to Connections List</a>


        </form>
    </div>
</div>
